body{
    color: white !important;
}
.bodyy{
    background-image: linear-gradient(to right bottom, #4f2b00, #462109, #3b190f, #2d1311, #1e0d0e, #1d0c0d, #1c0c0c, #1b0b0b, #27110d, #32160c, #3c1c07, #432400);
    background-repeat: no-repeat !important;
    min-height: 100vh !important;
}
.back{
    background-image: linear-gradient(to right top, #000000, #000000, #000000, #000000, #000000, #0c0405, #150709, #1b0b0b, #27110d, #32160c, #3c1c07, #432400);
}
.section_roadmap {
    margin-top: -100px;
    padding-top: 200px;
    padding-bottom: 70px;
    background-image: linear-gradient(to right top, #000000, #000000, #000000, #000000, #000000, #0c0405, #150709, #1b0b0b, #27110d, #32160c, #3c1c07, #432400) !important;
  
  }
.back_card{
    background-image: linear-gradient(to left bottom, #2d1d02ec, #2a1705ef, #241308f7, #1e0e09, #150808, #0f0506, #080303, #000000, #000000, #000000, #000000, #000000);
    border: 1px solid rgb(74, 74, 74);
    border-radius: 20px !important;
}
.stok_back{
background-color: black !important;
padding-top: 5%;
}
.MemberShip_back{
    background-image: linear-gradient(to right bottom, #000000, #000000, #000000, #000000, #000000, #0e0506, #170a0b, #1e0e0e, #2c1410, #3a1b0e, #442408, #4b2f00);
    padding: 5% 0;
}
.Membercard_back{
    background-image: linear-gradient(to left bottom, #4b2f00, #442408, #3a1b0e, #2c1410, #1e0e0e, #170a0b, #0e0506, #000000, #000000, #000000, #000000, #000000);
    padding-bottom: 14%;
}
.btnn{
    border-radius: 50pc;
    padding: 8px 18px;
    font-weight: 600;

}
.btnn2{
    border-radius: 50pc;
    padding: 8px 18px;
    font-weight: 600;

}
.card{
    background-color: transparent !important;
}
.navo{
    position: absolute;
    top: 0;
    width: 100% !important  ;
    z-index: 999;
}
.post{
    position: relative !important;
    top: 30% !important; 
    right: 8%;
    opacity: 0.7;

}
.post2{
    position: relative !important;
    top: 30% !important; 
    right: 8%;
width: 45%;
}
.car{
    position: relative;
    top: 52%;
    left: 62%;
    width: 100%;

    opacity: 0.7;

}
.car2{
    position: relative;
    top: 52%;
    left: 62%;
    width: 40%;

    opacity: 0.7;

}
.welom_100vh{
    padding-top: 15%;
   
}
.ogn_text{
    font-size: 55px;
    background: -webkit-linear-gradient( #AF1900 , #F2A400 );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
}
.ogn_text_SIZE{
    font-size: 35px;
    font-weight: 700;   
}
.ogn_text2{
    font-size: 35px;
    background: -webkit-linear-gradient( #AF1900 , #F2A400 );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
    /* z-index: 99999; */

}
.wlom{
    font-size: 55px;
    font-weight: 700;
    z-index: 99999;
}
.tex_color_buld{
    background: -webkit-linear-gradient( #AF1900 , #F2A400 );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
}
.market h5{
    font-size: 18px;
    font-weight: 700;
}
.market p{
    font-size: 15px;
    font-weight: 400;
}
.coloo{
    color:   #F2A400 ;

    
}
.circl{
    width: 30px ;
    height: 30px ;
    background: linear-gradient(90deg, #AF1900 0%, #F2A400 100%);
    border-radius: 50pc;

}
.border_mem{
    border:  1px solid rgb(68, 68, 68);
    border-radius: 12px;
}
.d_grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.card_member{
    background-image: linear-gradient(to right, #232323cf, #262626c1, #292929d1, #2c2c2cc6, #2f2f2fdd);
    border-radius: 24px;
}
.card_member2{
    background: linear-gradient(90deg, #AF1900 0%, #F2A400 100%);
    border-radius: 24px;

}
.swiper-pagination {
    position: absolute;
    text-align: center;
    transition: 300ms opacity;
    transform: translate3d(0, 0, 0);
    z-index: 10;
    top: 94% !important;
}
.colo{
    color: #f28100;
    font-size: 18px;
}
.colo1{
    font-size: 18px;
}
.btn_colo{
    background: linear-gradient(90deg, #AF1900 0%, #F2A400 100%);
    border-radius: 50pc;
    width: 100%;
    border: 1px solid #F2A400;
    color: white;
    padding: 12px 0;
    font-weight: 600;

}
.btn_colo:hover{
    background: rgb(255, 255, 255);
    border-radius: 50pc;
    width: 100%;
    border: 1px solid white;
    color: #f28d00;
    padding: 12px 0;

}
.btn_colo2{
    background: rgb(255, 255, 255);
    border-radius: 50pc;
    width: 100%;
    border: 1px solid white;
    color: #f28d00;
    padding: 12px 0;
    font-weight: 600;

}
.btn_colo2:hover{
    background: linear-gradient(90deg, #AF1900 0%, #F2A400 100%);

    border-radius: 50pc;
    width: 100%;
    border: 1px solid white;
    color: #ffffff;
    padding: 12px 0;

}
.step12{
    background-color: black !important;
}
.back_step_card{
    background: linear-gradient(90deg, #AF1900 , #F2A400 100%);
    border-radius: 15px;
    border: 1px solid #AF1900;

}
.ornge_btn{
    border-radius: 50pc;
    background-color: rgba(235, 127, 3, 0.901);
    color: white;
    font-size: 15px ;
    font-weight: 600;
    padding: 8px 14px;
}
.ornge_btn:hover{
    
    color: white;
    
}
@keyframes moveUpDown {
    0% {
      transform: translateY(-1000);
    }
    50% {
      transform: translateY(50px); 
    }
    100% {
      transform: translateY(-100);
    }
  }
  .animate-up-down {
    animation: moveUpDown 4s linear infinite; animation: moveUpDown 4s linear infinite;
    display: flex !important;
    justify-content: center;
    align-items: start !important;
    width: 60%;
    margin: auto;
    
  }
  .swiper {
    width: 100%;
    height: 100%;
    overflow:unset !important
  }
  .foot{
    color: #FFFFFFB2;

  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .widt{
    width: 60%;
    margin: auto;
  }
  .w_25{
    width: 80px !important;
    height: 80px !important;
    margin: auto;

  }
  .swiper-pagination-bullet-active {
    opacity: var(--swiper-pagination-bullet-opacity, 1);
    background: rgb(255, 140, 0) !important;
}

.swiper-button-prev, .swiper-button-next {
    position: absolute;
    top: var(--swiper-navigation-top-offset, 50%);
    width: calc(var(--swiper-navigation-size) / 44* 27);
    height: var(--swiper-navigation-size);
    margin-top: calc(0px -(var(--swiper-navigation-size) / 2));
    z-index: 10;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #696e73 !important;
}
.small_img_center{
width:100px !important;
margin:auto;
display: flex;
}
@media only screen  and (max-width: 1100px){
    body{
        background-image: linear-gradient(to right bottom, #2c1c01, #291604, #231207, #1d0d08, #140707, #140707, #140708, #140708, #1d0d0a, #241208, #2a1605, #2d1c01);
        background-repeat: no-repeat !important;
        height: 100%;
    } 
    .ogn_text{
        font-size: 35px;
        background: -webkit-linear-gradient( #AF1900 , #F2A400 );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: 700;
    }
    .center{
        text-align: center !important;
    }
    .wlom{
        font-size: 35px;
        font-weight: 700;
    }
    .navo{
        position: fixed;
        top: 0;
        width: 100% !important  ;
        background-color: #000000 !important;
        
    }
    .post{
        position: relative !important;
        top: 0% !important; 
        right: 0%;
    width: 15rem;
    opacity: 0.7;
    }
    .car {
        position: relative;
        top: 52%;
        left: 0%;
        width: 50%;
        opacity: 0.7;
    }
    .post2{
        position: relative !important;
        top: -39rem !important;
        left: 130%;
        
    }
    .d_grid{
        display: grid;
        grid-template-columns: 1fr ;
    }
    .btn_width{
      
        width: 100%;
    }
    .car2{
        position: relative;
        bottom: -2rem;
        left: 137%;
        width: 40%;
    
        opacity: 0.7;
    
    }
    .btnn{
        border-radius: 50pc;
        padding: 8px 18px;
        font-weight: 600;
        width: 40%;
        margin: auto !important;
    }
}
.box {
    animation: rotateY-anim 5s linear infinite;

    margin: 20px;
  }
  
  @keyframes rotateY-anim {
    0% {
      transform: rotateY(0deg);
    }
  
    100% {
      transform: rotateY(360deg);
    }
  }
  .w-button:hover{
background: rgb(250, 209, 193) !important;
color:#ca551e !important
  }